.banner{
    padding: 0.1px;
    text-align: left;
    background: #596de0;
    color: rgb(0, 0, 0);
    font-size: 20px;
  }


.overlay img{

  width: 10%;
    height:10%;
    opacity: 100%;
    position: relative;
    left: 1000px;
    bottom: 1033px;
}


.nav-links{
    flex:1 ;
    text-align: right;
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 4px 6px;
    position: relative;
}
.ADOT img{
    
    width: 20%;
    height:20%;

}
hr {
    border: none;
    border-top: 2px dotted black;
  }
  .footer{
    padding: 0.01px;
    text-align: center;
    background: #df4b4b;
    color: rgb(0, 0, 0);
    font-size: 20px;

  }
.gif1 img{
    width: 10%;
    height: 10%;

  }
  .cool img{
    width: 10%;
    height: 10%;

  }
  .t1 img{
    width: 10%;
    height: 10%;
  }
  
   
  
.skull img{
  width: 7%;
    height: 7%;
    
    position: relative;
    left: 1350px;
    bottom: 950px;
    opacity: 20%;
}
  .agora{ 
   font-size: larger;

  }
  .contactimage img{
    width: 10%;
    height: 10%;
    left: 1350px;
    position: relative;
    left: 1000px;
  }
.mrvoid img{
 
    
}
.gangson{ 
  display: flex;
  
}
.gang img{
  width: 30%;
  height: 50%;
  display: inline-block;
    
    
}

.son img{
  position: relative;
  bottom: 1100px;
width: 200%;
}

