.banner{
    padding: 0.1px;
    text-align: left;
    background: #c5ceff;
    color: rgb(0, 0, 0);
    font-size: 20px;
   border: rgb(179, 255, 0) 10px ridge;
  }



.nav-links{
    flex:1 ;
    text-align: right;
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 4px 6px;
    position: relative;
}
.ADOT img{
    
    width: 20%;
    height:20%;

}
hr {
    border: none;
    border-top: 2px dotted black;
  }
  .footer{
    padding: 0.01px;
    text-align: center;
    background: #df4b4b;
    color: rgb(0, 0, 0);
    font-size: 20px;

  }
  .gif1{
    color: rgb(9, 172, 96);
    border: rebeccapurple 7px ridge;
    background-image: url("images/ao.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    


  }
.gif1 img{
    width: 10%;
    height: 10%;

  }
  .gif2{
border: green 7px ridge;
background-image: url("images/KillMario2.gif");


  }
  .gif2 img{
   width: 10%;
    
    
      }
  .TFP img{
    width: 10%;
    height: 10%;

  }
  .cool img{
    width: 10%;
    height: 10%;

  }
  .t1 img{
    width: 10%;
    height: 10%;
  }
  
   
  
.skull img{
  width: 7%;
    height: 7%;
    
    position: relative;
    left: 1350px;
    bottom: 950px;
    opacity: 20%;
}
  .agora{ 
   font-size: larger;

  }
  .contactimage img{
    width: 10%;
    height: 10%;
    left: 1350px;
    position: relative;
    left: 1000px;
  }

.gangson{ 
  display: flex;
  
}
.gang img{
  width: 30%;
  height: 50%;
  display: inline-block;
    
    
}

.son img{
  position: relative;
  bottom: 1100px;
width: 200%;
}

.TFP{
  color: antiquewhite;
border: #da9311 7px groove ;
background-image: url("images/background1.png");
background-size: 5% 25%;

}


.headtfp img{ 
 width: 25%;
  }
  
.tierlist img{
 border:grey 20px groove;
    display: block;
    margin: auto;
    width: 50%;
  }

.highlights{

  border: lightsalmon 7px groove;
	background-image: url("images/background3.png");
  background-size: 10% 10%;
  
  

padding: 10px;
}
.version{
flex: 1;
text-align: right;
}

.inline-block { 
	display: inline-block; 
 
} 
.inline-block2 { 
	display: inline-block; 
 
} 

.gif1 {
  text-align: center;

}

.TFP {
  text-align: center;
  
}

.gif2 {
  text-align: center;

}
.highlights2{

 
}

.H1{
  text-align: center;
  
}